<section>
  <br>
  <br>
  <br>
<div class="container has-text-centered">

  <form (ngSubmit)="onSubmit()">
    <h1>Sign Up</h1>
    <div>
    <label>Enter Email: <input type="text" [formControl]="email"> </label>
    </div>
    <label>Enter First Name: <input type="text" [formControl]="firstName"> </label>
    <label>Enter Last Name: <input type="text" [formControl]="lastName"> </label>

    <div>
      <label>
        Enter Birthday (Year-Month-Day):
        <input type="text" [formControl]="dateOfBirth">
      </label>
    </div>

    <div>
      <label>
        Enter Phone Number:
        <input type="text" [formControl]="phoneNumber">
      </label>
    </div>

    <div>
      <label>
        Enter a Username:
        <input type="text" [formControl]="userName">
      </label>
    </div>

    <div>
      <label>
        Set a Password:
        <input type="password" [formControl]="setPassword">
      </label>
    </div>

    <div>
      <label>
        Confirm a Password:
        <input type="password" [formControl]="confirmPassword">
      </label>
    </div>

    <button class="button" type="submit">Create Account</button>
  </form>

</div>
</section>
