<section>
  <br>
  <br>
  <br>
<div class="container has-text-centered">
  <br>
  <h1>Login or Create a new Account</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <br><label>
      Username:
      <input type="text" [formControl]="userName">
    </label>
    </div>

    <div>
      <br><label>
      Password:
      <input type="password" [formControl]="password">
    </label>
    </div>
    <br>
    <button class="button" type="submit">Login</button>
  </form>

    <a class="button is-primary" routerLink="/signUp">
      <strong>Sign Up</strong>
    </a>

  <br><br>
</div>
</section>
